<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Listagem</h2>

    <ul>
    (% for transaçao in transaçoes %)
    <li><a href="{% url'url_update'transaçao.id %}"></a>{{transaçao.descriçao - {{transiçao.data}} - 
        {{transaçao.valor}} - {{transaçao.categoria}} </li>

    </li>
       
    (% endfor %)
</ul>
    
<a href="{% url'url_nova' %}">novo</a>
    
</body>
</html>